.nav_bar
{
	display: grid;
	align-items: center;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
	

}
.nav_bar .nav_link
{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: flex-end;
}
